* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
}

body {
  background-color: var(--cor-7);
  height: 100%;
}